body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
}
h2 {
  margin: 0 0 6px 0;
  font-weight: bold;
}
h6 {
  margin: 2px 0 20px 0;
}
hr {
  margin: 14px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
ul {
  margin: 4px 0 0 0;
}
label,
h6 {
  color: #808080;
  font-size: 20px;
  font-weight: normal;
  text-shadow: -1px 1px 0 #fff;
}
a {
  font-size: 25px;
}
.well {
/*background: rgba(85, 85, 85, 0.8);*/
  margin-bottom: 0;
  height: 90%;
  top: 55%;
}
.well .tab-title {
  float: left;
  margin-left: 10px;
}
.well .button-top-right {
  float: right;
  margin: 0 10px 20px 0;
}
.navbar-title {
  font-size: 30px;
}
.navbar-btn {
  min-width: 100px;
  margin-right: 8px;
}
.navbar-btn .btn {
  min-width: 100px;
}
.glyphicon {
  margin-right: 8px;
}
/*
	login window
*/
#login label {
  margin-left: 2px;
}
#login form {
  width: 320px;
}
#login .controls {
  margin-top: 20px;
}
#login .controls .button-rememember-me {
  float: left;
  width: 150px;
}
#login .controls .button-sign-in {
  float: right;
  width: 120px;
}
#login .btm-links {
  font-size: 0.9em;
  margin: 2px 0 0 0;
}
#login .btm-links #forgot-password {
  float: left;
  margin-left: 10px;
}
#login .btm-links #create-account {
  float: right;
  margin-right: 5px;
}
#account-form-container form {
  width: 460px;
}
/*
	modal windows
*/
.modal .modal-dialog {
  width: 480px;
}
.modal .form-group {
  margin-bottom: 0px;
}
.modal .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px;
}
.modal .alert-dismissable,
.modal .close {
  right: -4px;
}
.modal p {
  margin: 0;
  padding: 0;
}
.modal .modal-footer button {
  width: 80px;
}
.center-vertical {
  height: 100vh;
}
.center-vertical form {
  top: 50%;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.form-horizontal .form-buttons {
  float: right;
}
.form-horizontal .form-buttons .btn {
  width: 80px;
  margin-left: 6px;
}
.form-horizontal input,
.form-horizontal select {
  height: 30px;
}
.row_style {
  text-align: center;
  align-content: text-align center;
  width: 100%;
}
.row_style_fixed {
  text-align: center;
  align-content: text-align center;
  width: 50px;
}
.btn_control_up_down {
  text-align: center;
  align-content: text-align center;
  width: 60%;
  margin: 5px;
  height: 50px;
  z-index: 9999;
  position: absolute;
}
.btn_control_left_right {
  text-align: center;
  align-content: text-align center;
  height: 160px;
  z-index: 9999;
  position: absolute;
}
.div_viewer_style {
  position: absolute;
  display: block;
  z-index: 100;
  height: 95%;
  width: 97%;
}
.img_style {
  width: 85%;
  max-height: 480px;
  max-width: 640px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.div_progress_bar {
  width: 200px;
  z-index: 9999;
  display: inline-block;
  overflow: inherit;
}
