<launch>
    <param name="use_sim_time" value="true" />

    <!-- Play ROSBAG file -->
    <arg name="bag_file" />
    <arg name="local_path" default="bags/simulations/" />
    <arg name="bag_path" default="$(find autonomous_bicycle)/$(arg local_path)" />

    <!-- Record BAG file with specific topics -->
    <node pkg="rosbag" type="record" name="recorder" output="screen"
          args="-O $(arg bag_path)$(arg bag_file)
          /bicycle/gps_front /bicycle/gps_front_velocity /bicycle/odom_gps_front
          /bicycle/gps_rear /bicycle/gps_rear_velocity /bicycle/odom_gps_rear
          /bicycle/imu_1 /bicycle/imu_steering
          /gazebo/link_states /gazebo/model_states /tf
          /bicycle/odom_main_frame /bicycle/odom_rear_wheel
          /imu_lean/pitch /imu_lean/roll /imu_lean/yaw
          /imu_lean_noise/pitch /imu_lean_noise/roll /imu_lean_noise/yaw
          /imu_steering/pitch /imu_steering/roll /imu_steering/yaw
          /imu_steering_noise/pitch /imu_steering_noise/roll /imu_steering_noise/yaw
          /bicycle/altitude /bicycle/velocity /bicycle/steering_angle
          /bicycle/imu_steer_calibration /bicycle/imu_1_calibration
        "/>
</launch>
