<launch>
    <arg name="rotary_sensor_port" default="/dev/ttyACM0"/>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" respawn="true" >
        <param name="port" type="string" value="$(arg rotary_sensor_port)" />
        <remap to="/bicycle/steering_angle"   from="/steering_angle" />
    </node>
</launch>
